src/main/mule/mule-stateful.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="64b048fc-95a6-4381-9cfd-a81a70c152a9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<os:object-store name="Counter_store" doc:name="Object store" doc:id="78135cbf-e16c-4f4b-b888-53a7eb744dd9" />
	<configuration-properties doc:name="Configuration properties" doc:id="ef40e800-e695-4a7a-a59c-c140b683ac27" file="config.yaml" />
	<flow name="mule-statefulFlow" doc:id="c4615c25-c8dd-4e26-a645-bc38d541767b" >
		<http:listener doc:name="GET/send" doc:id="9cbd6d6f-86ef-4ac6-b707-316d2414070c" config-ref="HTTP_Listener_config" path="/send" allowedMethods="GET"/>
		<os:retrieve doc:name="Retrieve" doc:id="60a68443-4028-41ab-8e0b-b49deb86471c" key="current_count" objectStore="Counter_store" target="count" targetValue="#[payload as Number]">
			<os:default-value ><![CDATA[#[0]]]></os:default-value>
		</os:retrieve>
		<set-variable value="#[vars.count +1]" doc:name="Increment Count+1" doc:id="bd34a728-139c-445d-9151-9ac783e7b779" variableName="count"/>
		<set-variable value="#[p('node')]" doc:name="Set Node" doc:id="322bb801-be30-4d96-bfdd-5bf2ec85e8d9" variableName="node"/>
		<logger level="INFO" doc:name="Logger" doc:id="f8f2a977-12aa-49f8-bcb9-8207a1d449d4" message="#['\n*** Node Called: ' ++ p('node')]" />
		<ee:transform doc:name="Transform Message" doc:id="4959444b-f8fe-4336-83ae-1d961e831586" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[{
	numseq: vars.count,
	nodo: vars.node as Number,
	prezzo: randomInt(1000)
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<os:store doc:name="Store" doc:id="3052216c-b48c-4aae-95fa-33995224a837" key="current_count" objectStore="Counter_store">
			<os:value ><![CDATA[#[vars.count]]]></os:value>
		</os:store>
	</flow>
</mule>
